{{ if .Site.DisqusShortname }}
<div id="disqus"></div>
<script>
    var disqus_options = {
        scriptUrl: '//{{ .Site.DisqusShortname }}.disqus.com/embed.js',
        disqusConfig: function() {
            this.page.title       = '{{ .Title }}';
            this.page.url         = '{{ .Permalink }}';
            this.page.identifier  = '{{ .UniqueID }}';
        }
    }
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
{{ end }}